/* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cinzel Regular'), local('Cinzel-Regular'), url(https://fonts.gstatic.com/s/cinzel/v9/8vIJ7ww63mVu7gt79mT7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Cinzel Bold'), local('Cinzel-Bold'), url(https://fonts.gstatic.com/s/cinzel/v9/8vIK7ww63mVu7gtzTUHuE2Za.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Cinzel Black'), local('Cinzel-Black'), url(https://fonts.gstatic.com/s/cinzel/v9/8vIK7ww63mVu7gtzdUPuE2Za.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
html{
    font-size: 62.5%;
}
body{
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    font-size: 1.6rem;
    font-family: 'helvetica', sans-serif;
}
.main h1{
    font-family: 'Cinzel', 'arial', serif;
    font-weight: 800;
}
.main{
    position: relative;
    top: 7rem;
    background-color: white;
}
/*header*/
header{
    width: 100%;
    height: 7rem;
    display: inline-flex;
    justify-content:space-between;
    position: fixed;
    z-index: 10;
    font-family: 'Cinzel', 'arial', serif;
    background-color:rgba(256, 256, 256, 0.5);
    box-shadow: 0rem 0px 1rem rgb(163, 157, 134);
    

}
    
header img{
    display: block;
    width: auto;
    height: 100%;
    margin: 0rem 3rem;
}




nav{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    float: right;
    width:30%;
    margin: 0rem 3rem;
}

.logo{
    display: inline-flex;
}

.logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*partie haute rdv*/

.top{
    width: 100%;
    height: 100%;
    padding: 10% 0;
    display: inline-flex;
    justify-content: center;
    background-image: url("../images/click-pen-on-journal-with-a-date-of-2-162583.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-top{
    width: 60%;
    padding: 3.6rem 3.6rem 3.6rem 7rem;

}

.img-top img{
    display: block;
    max-width: 100%;
    height: auto; 
    width: 80%;
    position: relative;
    left: 10rem; 
    bottom: 10rem; 
    border: 0.3rem solid white; 
}

.text-top{
    width: 50%;
    height: 100%;
    padding: 2rem 2rem;
    background-color: rgba(256, 256, 256, 0.75);
    position: relative;
    right: 20rem;
    top: 37rem;
}

.top button{
    display: flex;
    margin: 0rem auto;
    padding: 0 5rem;
    border-radius: 0.5rem;
    background-color: rgba( 31, 97, 141, 0.75);
    box-shadow: 0rem 0px 0.5rem grey;
    border: none;
}

/*partie centrale parole*/

.conseils{
    background-color: rgb( 31, 97, 141);
    padding: 3.2rem 3.2rem;
    box-shadow: 0rem 0px 3rem black;
    display: flex;
    flex-flow: column wrap;
    align-content:space-between;
}

.conseils .titre{
    text-align: center;
    padding: 0rem 0rem 10rem 0rem; 

}


.article img{
    display: block;
    max-width: 100%;
    height: auto;
}

.liste-article{
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row nowrap;
}

.article{
    padding: 1rem 0.5rem;
    margin: 0 2.4rem;
    background-color: rgba(256, 256, 256, 0.5);
    border-radius: 0.5rem;
}

.article button{
display: flex;
justify-content: center;
width: 100%;
border-radius: 0.5rem;
background-color: white;
border none;
box-shadow: none;
}



/* partie basse portrait*/

.portrait{
    display: inline-flex;
    background-color: rgb(251, 238, 230);
    padding: 2rem 2rem;
    margin: 1rem auto;

}

.portrait img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 50%;
    margin: 0 auto;
    
}

.left-portrait{
   max-width: 50%;
   width: 100%;

}

.right-portrait{
    max-width: 50%;
    width: 100%;
    height:auto;

}

