/* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Cinzel Regular'), local('Cinzel-Regular'), url(https://fonts.gstatic.com/s/cinzel/v9/8vIJ7ww63mVu7gt79mT7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Cinzel Bold'), local('Cinzel-Bold'), url(https://fonts.gstatic.com/s/cinzel/v9/8vIK7ww63mVu7gtzTUHuE2Za.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Cinzel Black'), local('Cinzel-Black'), url(https://fonts.gstatic.com/s/cinzel/v9/8vIK7ww63mVu7gtzdUPuE2Za.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
html{
    font-size: 62.5%;
}
body{
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    font-size: 1.6rem;
    font-family: 'helvetica', sans-serif;
}
.main h1{
    font-family: 'Cinzel', 'arial', serif;
    font-weight: 800;
}
.main{
    position: relative;
    top: 7rem;
    background-color: white;
}
/*header*/
header{
    width: 100%;
    height: 7rem;
    display: inline-flex;
    justify-content:space-between;
    position: fixed;
    z-index: 10;
    font-family: 'Cinzel', 'arial', serif;
    background-color:rgba(256, 256, 256, 0.5);
    box-shadow: 0rem 0px 1rem rgb(163, 157, 134);
    

}
    
header img{
    display: block;
    width: auto;
    height: 100%;
    margin: 0rem 3rem;
}




nav{
    display:inline-flex;
    justify-content:space-between;
    align-items: center;
    float: right;
    width:30%;
    margin: 0rem 3rem;
}

nav h4 a{
    color: black;
}

.logo{
    display: inline-flex;
}

.logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*partie haute rdv*/

.top{
    width: 100%;
    height: 100%;
    padding: 10% 0;
    display: inline-flex;
    justify-content: center;
    background-image: url("../images/click-pen-on-journal-with-a-date-of-2-162583.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-top{
    width: 50%;
    height: auto;
}

.img-top img{
    display: block;
    max-width: 100%;
    border: 0.3rem solid white; 
    border-radius: 0.5rem;
}

.text-top{
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 47, 60, 0.25);
    width: 50rem;
    height: 40rem;
    border-radius: 0.5rem;
    color: white;
}

.text-top h1{
    margin: 0 auto;
}

.bouton{
    background-color: rgba(33, 47, 60, 0.9);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
}
.bouton p{
    border: 0.2rem solid white;
    padding: 3rem 5rem;
    margin: 0 auto;
}

/*partie centrale parole*/

.conseils{
    background-color: rgb( 31, 97, 141);
    padding: 3.2rem 3.2rem 10rem 3.2rem;
    box-shadow: 0rem 0px 3rem black;
    display: flex;
    flex-flow: column wrap;
    align-content:space-between;
    margin: 2rem auto;
}
.liste-article{
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row nowrap;
    padding: 7rem 1rem;
}

.article{
    padding: 1rem 0.5rem;
    margin: 0 2.4rem;
    border-radius: 0.5rem;

}
#enfants{
    background-image: url("../images/enfant.jpg");
}
#seniors{
    background-image: url("../images/senior.jpg");
}
#efforts{
    background-image: url("../images/crossfit-534615_1920.jpg");
}
.text-article{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30rem 20rem 0rem 0.5rem;
    width: 40%;
    height: 40%;
    color: white;
    box-shadow:4rem 4rem 0rem steelblue, 4rem -4rem 0rem steelblue;
}
.message{
    box-sizing: border-box;
    border: 0.1rem solid white;
    font-weight: bold;
    text-shadow: 0rem 0rem 0.5rem black;
    text-decoration: none;
    text-align: justify;
    padding: 1rem 1rem;
    height: 15rem;
    width: 20rem;
}

a{
    text-decoration: none;
    color: white;
}

/* partie basse portrait*/

.portrait{
    display: inline-flex;
    background-color: rgb(251, 238, 230);
    padding: 2rem 2rem;
}

.portrait img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 50%;
    margin: 0 auto;
    box-shadow: -4rem 4rem 3rem rgb(33, 47, 60) ;
    
}

.left-portrait{
   max-width: 50%;
   width: 100%;

}

.right-portrait{
    max-width: 50%;
    width: 100%;
    height:auto;

}

